.footer {
    background-color: #FFFAF2;
    padding: 93px 0 189px;
    position: relative;
}

@media screen and (max-width: 375px) {
    .footer {
        background-color: #FFFAF2;
        padding: 25px 0 50px;
    }
}

.footer__title {
    margin-bottom: 51px;
}

@media screen and (max-width: 375px) {
    .footer__title {
        margin-bottom: 25px;
        text-align: center;
    }
}

.footer__wrapper {
    display: flex;
}

@media screen and (max-width: 375px) {
    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 41px;
    }
}

.footer-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (max-width: 375px) {
    .footer-list {
        gap: 19px;
    }
    .footer-list:nth-last-of-type(1) {
        gap: 7px;
    }
}

.footer-list__link {
    font-size: 1.8rem;
    line-height: 1.2;
}

@media screen and (max-width: 375px) {
    .footer-list__link {
        font-size: 1.4rem;
    }
}

#top-button {
    display: none;
    position: fixed; 
    bottom: 70px; 
    right: 180px; 
    z-index: 99; 
}
  
  #top-button:hover {
    transform: scale(2);
}

  @media screen and (max-width: 375px) {
    #top-button {
        display: none;
        position: fixed; 
        bottom: 58px; 
        right: 32px; 
        z-index: 99; 
    }
}