
.portfolio {
    padding: 93px 0 139px;
}

@media screen and (max-width: 375px) {
    .portfolio {
        padding: 25px 0 25px;
    }
}

.portfolio_title {
    margin-bottom: 86px;
}

@media screen and (max-width: 375px) {
    .portfolio_title {
        margin-bottom: 19px;
        text-align: center;
    }
}

.portfolio__wrapper {
    display: flex;
    gap: 125px;
    flex-shrink: 0;
}

@media screen and (max-width: 1225px) {
    .portfolio__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0px;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 375px) {
    .portfolio__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0px;
        flex-shrink: 0;
    }
}

.portfolio__images {
    display: flex;
    padding-top: 65px;
    gap: 30px;
}

@media screen and (max-width: 1225px){
    .portfolio__images {
        padding-top: 40px;
    }
}


@media screen and (max-width: 375px) {
    .portfolio__images {
        padding-top: 20px;
        gap: 14px;
    }
}

.portfolio__col {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (max-width: 375px) {
    .portfolio__col {
        gap: 12px;
    }
}

.portfolio__col:first-of-type {
    width: 350px;
}

.portfolio__col:last-of-type {
    width: 255px;
}

.portfolio__col img {
    width: 100%;
}

.portfolio__content {
    width: 350px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 375px) {
    .portfolio__content {
        width: 100%;
        text-align: center;
    }
}

.portfolio__subtitle {
    font-size: 1.8rem;
    line-height: 1.2;
    color: #333333;
    font-weight: 600;
    margin-bottom: 48px;
}

@media screen and (max-width: 375px) {
    .portfolio__subtitle {
        font-size: 1.4rem;
        line-height: 1.7;
        margin-bottom: 15px;
        text-align: center;
    }
}

.portfolio__txt {
    flex-grow: 1;
}

@media screen and (max-width: 375px) {
    .portfolio__txt {
        font-size: 1.2rem;
        line-height: 1.25;
    }
}

.buttons {
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 375px) {
    .buttons {
        display: none;
    }
}