.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;

    @include pc {
        min-height: auto;
        width: 80%;
    }

    @include tablet {
        width: 90%;
    }
}

.title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #333333;
}

.txt {
    color: #333333;
    font-size: 1.8rem;
    line-height: 1.67;
}